:root {  /* Verde Oscuro / Color Primario Fuerte */
  --color-dark-green: #537D5D;

  /* Verde Medio / Color de Acento */
  --color-medium-green: #73946B;

  /* Verde Claro / Color Secundario */
  --color-light-green: #9EBC8A;

  /* Color Tierra / Neutro o Fondo Claro */
  --color-earth-tone: #D2D0A0;

  --color-light-background: #ecebd8;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-top: 130px;
    background-color: var(--color-light-background);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.form-field {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: min-content;
    height: min-content;
    padding: 24px;
    font-weight: 100;
    border: none;
}

.form-field input{
    width: 20rem;
    margin: 10px;
    height: 20px;
    border: solid var(--color-dark-green) 1px;
    border-radius: 16px;
    padding-block: 5px;
    padding-inline: 15px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.form-field input:focus{
    box-shadow: 0 0 0 2px var(--color-light-green);
    outline: none;
}

.form-field select{
    width: 22rem;
    margin: 10px;
    height: 32px;
    border: solid var(--color-dark-green) 1px;
    border-radius: 16px;
    padding-block: 5px;
    padding-inline: 15px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    appearance: none;
}

.form-field select:focus{
    box-shadow: 0 0 0 2px var(--color-light-green);
    outline: none;
}

.form-field legend {
    font-weight: 400;
    font-size: larger;
    padding: 15px;
    background-color: var(--color-medium-green);
    color: white;
    border-radius: 24px;

}

#registerForm {
    height: min-content;
    width: 100%;
}

#registerFormDiv {
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    background-color: var(--color-earth-tone);
    border-radius: 16px;
    border: none;
    box-shadow: 0px 0px 10px 2px rgba(211, 211, 211, 0.75);
    padding-top: 20px;
    padding-bottom: 20px;
    
    margin-left: auto;
    margin-right: auto;
    
    align-items: center;
}

#formFieldsets {
    width: min-content;
    height: min-content;
    display: flex;
}

#title {
    position: fixed;
    padding-top: 5px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    font-size: larger;
    color: var(--color-dark-green);
    display: flex;
}
#title h1 {
    text-align: center;
    width: 100vw;
    font-family: "DM Serif Text", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;

}
#title a {
    color: var(--color-dark-green);
    padding-left: 20px;
    position: inherit;
    margin-top: 30px;
    padding-top: 30px;
    text-decoration: none;
    align-content: center;
    display: flex;
    align-items: center;
    gap: 5px;
}
#submit {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: larger;

    background-color: var(--color-medium-green);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 24px;

    height: min-content;
    width: min-content;
    margin-top: 20px;

    

    transition: 0.3s;
}

#submit:hover {
    background-color: var(--color-dark-green);
    transition: 0.3s;
}

#formDiv {
    width: 100%;
    padding-top: 15px;
}

/* Aplica estos estilos cuando la pantalla tiene 600px o menos */
@media screen and (max-width: 800px) {
    #volverInicio {
        display: none;
    }

    #formFieldsets {
        flex-direction: column;
    }
}