:root {  /* Verde Oscuro / Color Primario Fuerte */
  --color-dark-green: #537D5D;

  /* Verde Medio / Color de Acento */
  --color-medium-green: #73946B;

  /* Verde Claro / Color Secundario */
  --color-light-green: #9EBC8A;

  /* Color Tierra / Neutro o Fondo Claro */
  --color-earth-tone: #D2D0A0;

  --color-light-background: #ecebd8;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-top: 130px;
    background-color: var(--color-light-background);
}

.form-field {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: min-content;
    padding: 24px;
    font-weight: 100;
    margin: 10px;
    border-radius: 16px;
    border: none;
    box-shadow: 0px 0px 10px 2px rgba(211, 211, 211, 0.75);
    background-color: var(--color-earth-tone);
}

.form-field input{
    width: 20rem;
    margin: 10px;
    height: 20px;
    border: solid var(--color-dark-green) 1px;
    border-radius: 16px;
    padding-block: 5px;
    padding-inline: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.form-field input:focus{
    box-shadow: 0 0 0 2px var(--color-light-green);
    outline: none;
}

.form-field select{
    width: 20rem;
    margin: 10px;
    padding: 15px;
    border: solid var(--color-dark-green) 1px;
    border-radius: 16px;
    padding-block: 7px;
    padding-inline: 10px;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.form-field select:focus{
    box-shadow: 0 0 0 2px var(--color-light-green);
    outline: none;
}

.form-field legend {
    font-weight: 400;
    font-size: larger;
    padding: 15px;
    background-color: var(--color-medium-green);
    color: white;
    border-radius: 24px;

}

#registerForm {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#title {
    text-align: center;
    position: fixed;
    padding-top: 30px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    font-size: larger;
    color: var(--color-dark-green);
}

#submit {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: larger;

    background-color: #537D5D;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 24px;
    margin-top: 10px;
    

}